.client-main-wrap{
    margin: 5px 5%;
    padding: 5px;
    width: 90%;
}
.search-container{
    display: flex;
    width: 23rem;
    padding: 5px;
}
.searchInput{
    width: 70%;
}
#filterBtn{
    width: 30%;
    font-size: 1.8em;
    color: #fff;
    background: #0288b1;
    border-style: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 2px;
}
.backtobook{
    padding: 5px;
    width: 15%;
    border-style: none;
    border-radius: 5px;
    color: #fff;
    font-size: 1.6em;
    background: #8b3401;
}

@media screen and (max-width:980px){
    .backtobook{
        width: 25%;
    }
    .searchInput{
        width: 45%;
    }
    
}