.wrapper{
    /* position: absolute; */
    /* top: 0; */
    /* left: 0; */
    /* width: 100%; */
    /* overflow-x: hidden; */
    /* height: 100vh; */
    background: rgba(0, 0, 0, 0.897);
    padding: 20px;
    color: #fff;
}
.welcomeNote{
    text-align: center;
}
.response {
    border: 1px solid #4c4c4cbd;
    border-radius: 10px;
    margin: 2% auto;
    width: 45%;
    padding: 10px;
    background: #4c4c4cbd;
    box-shadow: 0 0 12px #02a1fde5;
}

.decision{
    max-width: 100px;
}
.decision input{
    margin-top: 6px;
    padding: 5px;
}
.decision label{
    display:  flex;
    padding: 5px;
}

#place-box{
    width: 95%;
    padding: 5px;
    margin: 5px 0   ;
}
.options{
    width: 98%;
    padding: 5px;
    margin: 5px 0;
}
#bookBtn{
    padding: 5px;
    width: 100%;
    background-color: #02a1fd;
    color: #fff;
    border-style: none;
    border-radius: 5px;
    font-size: 1.8em;
}
.hide{
    display:  none;
}

@media screen and (max-width:900px){
    .response{
        width: 85%;
    }
}
@media screen and (width:320px){
    .response{
        width: 80%;
    }
}