span.header-container{
    display: flex;
    justify-content: space-between;
    background: #03c2fc;
    padding: 5px;
    flex-wrap: wrap;
}
span div{
    margin: auto 5%;
}
.titles{
    color: #fff;
    margin-left: 15px;
}
.back{
    margin: 10px;
}
.navs{
    border-radius: 5px;
    padding: 3px;
    margin: 4px;
    background: transparent;
    color: #fff;
    font-size: 1.2em;
    border:1px solid #fff;
    text-decoration: none;
}
.navs:hover{
    background:#fa8f48;
    text-decoration: none;
    color: #fff;
}

.navIcons{
    height: 40px;
    margin-left: 20px;
}

@media screen and (width:320px){
    .titles{
        font-size: 1.5rem;
    }
    .navIcons{
        height: 10px;
        margin-left: 1px;
    }
    .navs{
        font-size: 0.9em;
        margin: 2px;
    }
}